@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Sawarabi+Mincho&display=swap");
@import "tailwindcss";

@theme {
  --color-sushi-orange: #ff7744;
  --color-sushi-pink: #ffaebb;
  --color-bg-dark: #0f172a;

  --font-outfit: "Outfit", sans-serif;
  --font-sawarabi: "Sawarabi Mincho", serif;
}
